/.mypy_cache
/.venv
/__pycache__
/chromedriver
/store/oauth_authorization_server/client_credentials.db
/store/oauth_authorization_server/code_pkce.db
/store/oauth_authorization_server/codes.db
/store/oauth_authorization_server/keys.db
/store/oauth_authorization_server/private_keys/
/store/oauth_authorization_server/sessions.db
/store/oauth_code_pkce/code_verifiers.db
/store/webhook_provider/keys.db
/store/webhook_provider/private_keys/
/test
/tmp
