# We need a specific version of urllib, otherwise there will be conflicts in lambda
# -r requirements-lambda.txt


# I've chosen these versions to be as close to Debian bookworm-provided versions as possible
# This means that you can just apt install them instead on Debian and this code will work.
# Where there isn't an equivalet in PyPi I've used a near version that remains compatible.

# boto3==1.26.27
cachetools==5.2.0
gevent==22.10.2
# jwcrypto==1.1.0
jwcrypto==1.0
markupsafe==2.1.2
pydantic==1.10.4
# pysaml2==7.0.1
pysaml2==7.4.2



# gevent-websocket==0.10.1
# psycogreen==1.0.1
# psycopg2-binary==2.9.5
